<div nz-row>
  <div nz-col nzSpan="8"></div>
  <div nz-col nzSpan="8">
    <nz-card [nzHoverable]='false' [nzBorderless]='false'>
      <nz-card-meta nzTitle="Sign Up" [nzAvatar]="avatar" style="margin-bottom: 20px;">
      </nz-card-meta>
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="userName" placeholder="Username" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="Password" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Sign Up</button>
      </form>
    </nz-card>
  </div>
  <div nz-col nzSpan="8"></div>
</div>

<ng-template #avatar>
  <nz-avatar nzSrc="https://digitalfuhubs.blob.core.windows.net/digitalfuhub/cho.png" nzSize="large"></nz-avatar>
</ng-template>