<div nz-row>
  <div nz-col nzSpan="6"></div>
  <div nz-col nzSpan="10">
    <nz-card [nzHoverable]='false' [nzBorderless]='false'>
      <nz-card-meta nzTitle="Sign Up" [nzAvatar]="avatar" style="margin-bottom: 20px;">
      </nz-card-meta>
      <form nz-form [formGroup]="signUpForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label nzRequired nzLabelAlign="left" nzSpan="5">Username</nz-form-label>
          <nz-form-control [nzErrorTip]="errorUsername" nzOffset="1">
            <input formControlName="username" nz-input />
            <ng-template #errorUsername let-control>
              @if(control.errors?.['required']){
                Please input your password
              }@else if(control.errors?.['minlength'] || control.errors?.['maxlength']){
                Please input 6 - 15 characters for password
              }
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired nzLabelAlign="left" nzSpan="5">Password</nz-form-label>
          <nz-form-control nzErrorTip="Please input your Password!" nzOffset="1">
            <input type="password" (ngModelChange)="updateConfirmValidator()" nz-input formControlName="password" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired nzLabelAlign="left" nzSpan="5">Confirm password</nz-form-label>
          <nz-form-control [nzErrorTip]="errorConfirmPassword" nzOffset="1">
            <input type="password" nz-input formControlName="confirmPassword" />
            <ng-template #errorConfirmPassword let-control>
              @if (control.errors?.['required']) {
                Please confirm your password!
              }
              @if (control.errors?.['confirm']) {
                Two passwords that you enter is inconsistent!
              }
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired nzLabelAlign="left" nzSpan="5">Email</nz-form-label>
          <nz-form-control [nzErrorTip]="errorEmail" nzOffset="1">
            <input type="email" nz-input formControlName="email" />
            <ng-template #errorEmail let-control>
              @if(control.errors?.['required']){
                Please input your email
              }@else if(control.errors?.['pattern']){
                Please input correct email
              }
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          @if(message !== ''){
            <nz-form-control [nzOffset]="6">
              <i style="color: red;">{{message}}</i>
            </nz-form-control>
          }
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzSpan]="8" [nzOffset]="12">
            <button nz-button nzType="primary">Sign up</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>
  </div>
  <div nz-col nzSpan="6"></div>
</div>

<ng-template #avatar>
  <nz-avatar nzSrc="https://digitalfuhubs.blob.core.windows.net/digitalfuhub/cho.png" nzSize="large"></nz-avatar>
</ng-template>